*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Playfair Display', serif;
    min-height: 100vh;
}

header{
    min-height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    background:linear-gradient(rgb(255,255,255,0.3),rgba(255,255,255,0.3)) ,url(img/fundo.png) center/cover fixed no-repeat;
}
.aviso{
    background: blue;
}
.logo-desktop{
    display: none ;
}
nav{
    position: fixed;
    width: 100%;
    z-index: 99;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.nav-container{
    padding: 0 20px;
    height: auto;
    border-top:solid 5px #000;
    display: flex;
    justify-content: space-between;
}
nav ul{
    list-style: none;
    display:none;
}
nav ul a {
    display: block;
    background: #fff;
    padding: 20px;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    transition: color 1s ease, background 1s ease, padding 1s ease;
}
nav ul a:hover{
    background:  #87CEFA;
    color: #fff;
    padding-left: 30px;
}
.nav-container img{
    width: 222px;
    align-self: center;
    height:auto;
    display: flex;
    justify-content: space-between;
}
/*Pensar Mobile First é pensar na otimização do site, priorização de conteúdos e dos recursos essenciais do mobile primeiro*/
@media screen and (min-width:1024px) {

    .logo-desktop  {
        display: flex;
    }

    .nav-container{
        display: none;
    }
    nav ul {
        display: flex;
    }

    nav ul a {
        font-size: 12px;
        background: #fff;
    }

    nav {
        display: flex;
        justify-content: center;
    }
}
/*===== tablet na horizontal e descktops com resolução de 1336px ========*/
@media screen and (min-width:1336px){/*o css so entra em ação apartir de 1336px de largura*/

    .nav-container{
        display: none;
    }

    nav {
        display: flex;
        justify-content: center; /*Alinha os itens ao centro do container*/
        border-top: 5px solid #fff;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }

    .nav-container {
        background: #fff;
        display: none;

    }
    .logo-desktop {/*logo que deverá ficar visivel em dispositivos : tablet na horizontal e descktops com resulução de 1336px*/
        display: flex; /*fica visivel*/
        margin-right: 20px;
    }

    nav ul {
        display: flex !important;
        flex-wrap: wrap;/*Quebra a linha assim que um dos flex itens não puder mais ser compactado*/
        justify-content: center;
        background: #fff;
    }

    nav ul a {
        font-size: 16px;
        background: #fff;
        margin-left: 40px;

    }

    .nav-container img {
        display: flex !important;
        width: 100%;
        max-width: 226px;
    }

    .services-center {
        width: 50%;
    }
    .service-text p {
        width: 90%;
    }
}

.bar {
    width: 30px;
    height: 3px;
    margin: 7px;
    background: #000;
}

.btn {
    padding: 2px;
    display: inline-block;
    border: 2px solid #000;
    align-self: center;
}

.banner {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner h1 {
    font-size: 50px;
    text-transform: uppercase;
    color: #333;
}

.banner h3 {
    text-transform: capitalize;
    font-size: 30px;
    color: #fff;
}

.banner-icons {
    padding: 20px;
}

.banner-icons a {
    display: inline-block;
    font-size: 30px;
    background: #fff;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 100%;
    transition: color 1s ease , transform 1s ease;
    color: #333;
    text-align: center;
}

.banner-icons a:hover {
    color: #000;
    transform: translateY(-10px);
}

.and {
    color: #fff;
}

.banner { /*display: Define o elemento como um flex container, tornando os seus filhos flex-itens */
    display: flex;/* O Flex Container é a tag que envolve os itens flex, ao indicar display: flex, essa tag passa a ser um Flex Container.*/
    justify-content: center;/*Alinha os itens flex no container*/
    align-items: center;/*O align-items alinha os flex itens de acordo com o eixo do container - alinhamento central no eixo vertical*/
    text-align: center;
    flex: 1 0 auto; /*centraliza o conteudo no eixo x e y*/
}

/*############### end banner ############*/

/*############### services ############*/

.services {/*https://rgbacolorpicker.com/*/
    /*RGBA é o sistema de cores formado pelas cores vermelho, 
    verde, azul e pelo canal alfa. O sistema permite exibir 
    todas as cores do sistema RGB e a utilização da transparência de imagem, 
    artifício amplamente usado em softwares de edição de imagem com camadas. 
    Os arquivos de imagem PNG utilizam o sistema RGBA*/
    min-height: 80vh;/*altura minima*/
    background:url(img/fundo1.png)center/cover fixed no-repeat; /*imagem de fundo*/
    display: flex;
    align-items: center;/*itens alinhados no centro*/
}

.services-center {
    width: 100%;
}
.service {
    color: #fff;/*muda a cor do texto*/
    display: flex;/*container*/
    margin: 40px;/*magem para os 4 lados*/
}

.services-ico {
    align-self: center;/*O align-self serve para definirmos o alinhamento específico de um único flex item dentro do nosso container. // Alinha o item ao centro*/
    font-size: 60px;
    margin-right: 20px;
    border-radius: 100%;
    padding: 20px;
    border: 3px solid #fff;/*borda de 3px cor branca solida*/
}

.services-text h3 {
    text-transform: uppercase;/*transforma o texto em maiusculo*/
}

.services-text p {
    line-height: 2;/*altura da linha*/
    margin-top: 5px;/*distacia para o topo*/
}
.services-ico a {
    color: #fff;/*vo da icone*/
}

/*############projects#################*/

.projects {
    padding: 0;
    background: #fff;
}

.title h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #333;
}

.title-underline {
    background: #000;
    width: 100px;
    height: 4px;
    margin: 10px auto;
}

.title {
    padding: 50px 0;
}

.project {
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    overflow: hidden;
}

.projects img {
    width: 100%;/*imagem responsiva*/
    display: block;
    transition: opacity 2s ease, transform 2s ease;
}
.projects img:hover {
    opacity: 0.3;/* função de filtragem é o de aplicar opacidade na imagem*/
    cursor: pointer;/*transforma a seta em mão*/
    transform:  scale(1.3);/*zoom*/
}

@media screen and (min-width:576px){
    .projects-center {
        display: grid;/*Torna o elemento um grid container.*/
        grid-template-columns: 1fr 1fr;/*Duas colunas são criadas, sendo a segunda com o dobro do tamanho da primeira*/
    }
}

@media screen and (min-width:992px){
    .projects-center {
        grid-template-columns: repeat(3, 1fr);/*3 colunas com o mesmo tamanhao*/
    }
}

/*############about#################*/



@media screen and (min-width:776px){
    .about-card {
        max-width: 50%;
        border-radius: 20px;
    }

    .about-card p {
        max-width: 70%;
        margin: 0 auto;
    }
}

/*############filler#################*/

.filler {
    min-height: 80vh;
    background:center/cover fixed no-repeat ;
    background:url(img/mobile.gif)center/cover fixed no-repeat ;
}

/*############contact#################*/
.contact {
    min-height: 80vh;
    background:url(img/rua.png)center/cover fixed no-repeat ;
    display: flex;
    justify-content: center;

}

.contact-card {
    flex: 0 0 80%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
}

form input {
    margin: 10px 0;
}


form h3 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

form input, textarea {
    padding: 5px;
    border: 1px solid #000;
}

input::placeholder, textarea::placeholder {
    text-transform: uppercase;
    color: black;
    font-size: 12px;
}
input, textarea{
    border-radius: 10px;
}

.form-btn {
    margin: 20px;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    background: #333;
    color: #fff;
    cursor: pointer;
    transition: color 1s ease-in-out 1s, background 1s ease-in-out 1s;
}
.contact-card button{
    border-radius: 10px;
    color:#fff;
    background: #87CEFA;
}
.form-btn:hover {
    color: #333;
    background: #fff;

}

/*############footer#################*/
footer {
    padding: 20px 0;
    text-align: center;
    min-height: 5vh;
}

.footer-icons a {
    color: #333;
    display: inline-block;
    font-size: 30px;
    margin:0;
    padding: 2px 5px;
    background: #fff;
}

footer p {
    color: #333;
    font-size: 20px;
}
/*############Coleção#################*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    width: 100%;
    padding: 0 8%;
}

.container h1::after{
    content: '';
    background: #87CEFA;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom:-5px;
    left: 50%;
    transform: translateX(-50%);

}
.row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));

}

.colecao{
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s,background 0.5s;
}
.colecao img{
    border-radius: 100%;
    margin-bottom: 10px;
}

.colecao:hover{
    background:#Fff;
    color:transparent;
    transform: scale(0.90);
}
.title h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #333;
}
.title-underline {
    background: #000;
    width: 100px;
    height: 4px;
    margin: 10px auto;
}

/*############PRODUTOS#################*/

.container1{
    position: relative;
    margin: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    position: relative;
    width: 320px;
    height: 450px;
    background: #DEB887;
    border-radius: 20px;
    overflow: hidden;
    margin: 40px

}
.card:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #FFF8DC;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}
.card:hover:before{
    clip-path: circle(300px at 80% -20%);
}
.card:after{
    content:'tropical';
    position: absolute;
    top:30%;
    left:-20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: #F5DEB3;
}
.imgBx{
    position: absolute; /*erro*/
    top:50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}
.card:hover .imgBx{
    top: 0%;
    transform: translateY(0%);
}
.card .imgBx img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-20deg);
    width: 300px;
}
.card .contentBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}
.card:hover .contentBx{
    height: 210px;

}
.card .contentBx h2,
.card .contentBx h3{
    position: relative;
    font-wight:6100;
    letter-spacing: 1px;
    color: #fff;
}
.card .contentBx .size,
.card .contentBx .color{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.card:hover .contentBx .size{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}
.card:hover .contentBx .color{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}
.container .card .contentBx .size h3,
.card .contentBx .color h3{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}
.card .contentBx .size span{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0.5px;
    transition: 0.5s;
    color:#111;
    border-radius: 4px;
    cursor: pointer;
}
.card .contentBx .size span:hover{
    background: #FF69B4;

}
.card .contentBx .color span{
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.card .contentBx .color span:nth-child(2){
    background: #FF69B4;
}
.card .contentBx .color span:nth-child(3){
    background: black;
}
.card .contentBx .color span:nth-child(4){
    background: red;
}
.card .contentBx .color span:nth-child(5){
    background: white;
}
.card .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color:#111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}
.card:hover .contentBx a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}

